@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    font-family: 'Lexend Deca', sans-serif;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}
.img-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(6,170,94,255);
    align-items: center;
    justify-content: space-evenly;
    width: 110vh;
    font-size: larger;
    color: aliceblue;
}

.img-container img{
    height: 80vh;
    width: 80vh;
}

.form-container {
    background-color: rgba(25,57,70);
    color: aliceblue;
    width: 150vh;
}